.todo__single{
    display: flex;
    width: 29.5%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: rgb(236, 236, 3);
}

.todo__single--text{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 18px;
}

.todo__single--text:focus{
    outline: none;
}

.icon{
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .todo__single{
        width: 40%;
    }
}

@media (max-width: 700px) {
    .todo__single{
        width: 100%;
    }
}